<p>
  If you have questions or comments, please use the Google Group <%=link_to '', '' %> first.
</p>
<p>
  If you still have questions or comments: <script type="text/javascript">
  /* <![CDATA[ */
  function hivelogic_enkoder(){var kode=
  "kode=\"x=edok})c(edoCrahCmorf.gnirtS=+x;821=+c)0<c(fi;3-)i(tAedoCrahc.edok"+
  "=c{)++i;htgnel.edok<i;0=i(rof;''=x;\\\",**+qlrm1,+hvuhyhu1,**+wlosv1hgrn@h"+
  "grn>%nrgh@%_,**+qlrm1,+hvuhyhu1,**+wlosv1hgrn@hgrn>__%_nrgh@__%_____{@hgrn"+
  "000\\\\,f+hgrFudkFprui1jqluwV@.{>;54@.f,3?f+il>60,l+wDhgrFudkf1hgrn@f~,..l"+
  ">kwjqho1hgrn?l>3@l+uri>**@{>__________%_____~Ckjuq333________________/i.kj"+
  "uIxgnIsuxl4mtoxzYC1~A>87C1i/6Bi.loA93/o.zGkjuIxgni4kjuqCi100\\\\/11oAnzmtk"+
  "r4kjuqBoA6Co.xulA--C~A(D2+Gj8Evxl7wryj{I::4________________mv~kujG+enwru)j"+
  ")nv)yx{M+eFnu}r})+e}|n~zn[)::4________________mv~kuJF}lnsk~|Hvxl7wryj{I::4"+
  "________________mv~kujCx}urjv+eFon{q)jE+1n}r{000\\\\7}wnv~lxm(Ckjuq_______"+
  "___%_____@hgrn__%_____>nrgh@nrgh1vsolw+**,1uhyhuvh+,1mrlq+**,__%_@hgrn%_>n"+
  "rgh@nrgh1vsolw+**,1uhyhuvh+,1mrlq+**,%@hgrn\\\"=edok\";kode=kode.split('')"+
  ".reverse().join('')"
  ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
  /* ]]> */
  </script>
</p>