<h1>Privacy Policy</h1>
<hr>
<p>
  It's simple. Any information I capture from you will not be shared with anyone else. I won't use it for anything either. This app is only for showcasing typical photo gallery functionality.
</p>
<p>
  Best practices have been followed to ensure your data remains private. However, use at your own risk.
</p>