[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/friendly_id"]
	path = vendor/plugins/friendly_id
	url = git://github.com/norman/friendly_id.git
[submodule "vendor/plugins/resource_controller"]
	path = vendor/plugins/resource_controller
	url = git://github.com/giraffesoft/resource_controller.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/restful-authentication"]
	path = vendor/plugins/restful-authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/workling"]
	path = vendor/plugins/workling
	url = git://github.com/purzelrakete/workling.git
[submodule "vendor/plugins/spawn"]
	path = vendor/plugins/spawn
	url = git://github.com/tra/spawn.git
