/* BEGIN ALBUM STYLE */
*{margin:0;padding:0}
body{padding:20px;background:white;text-align:center;background:black;color:#bba;font:80%/140% georgia,serif;}
h1,h2{font:bold 80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase;}
a{color:#348;text-decoration:none;outline:none;}
a:hover{color:#67a;}
.caption{font-style:italic;color:#887;}
.album_container{position:relative;margin-top:2em;}
.album{width:702px;margin:0 auto;}
.album li{width:68px;height:50px;border:3px double #111;margin: 0 2px;background:#000;}
.album li div{left:240px}
.album li div .caption{font:italic 0.7em/1.4 georgia,serif;}

#main_image{margin:0 auto 30px auto;height:466px;width:700px;background:black;}
#main_image img{margin-bottom:10px;}

.nav{padding-top:10px;clear:both;font:80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase;}

.info{text-align:left;width:700px;margin:30px auto;border-top:1px dotted #221;padding-top:30px;}
.info p{margin-top:1.6em;}
