/* -- Blueprint Overrides ------------------------------- */
hr {
  margin-bottom:0.8em;
}
h1 {
  font-size:4.3em;
  font-weight:bold;
  margin-bottom:0.2em;
}
h2 {
  line-height:1.4;
}
h3 {
  font-weight:bold;
}
a, a:visited {
	text-decoration: none;
}
legend {
	font-size: 12px;
}
input.text {
  width:230px;
}
textarea {
  width:300px;
  height:150px;
}
label {
  color: #9a9a9a;
  font-style: italic;
  font-weight: normal;
}
em {
  color: #9a9a9a;
  font-style: italic;
}


/* -- Header ------------------------------- */
#header {
  padding-top:20px;
}

/* -- Navigation --------------------------- */
.nav-list {
  display: inline;
}
.nav-list li {
	display: inline;
	margin: 0;
	padding: 3px;
	font-weight: bold;
}

/* -- Footer ------------------------------- */
#footer {
  padding-top:10px;
}

/* -- Content ------------------------------ */
#content {
  padding-top:20px;
}

/* -- Flashes ------------------------------ */
.flash_alert {
  color: #333;  
	background: #fee;
	border: solid 1px #db7;
}
.flash_alert .message {
	padding: 0 0 0 25px;
}
.flash_notice {
	color: #333;  
	background: #efe;
	border: solid 1px #bd7;
}
.flash_notice .message {
	padding: 0 0 0 25px;
}

/* -- Albums ------------------------------- */
#albums {
  margin: 0px;
}
#albums li {
  list-style-type: none;
  float:left;
  margin-bottom:22px;
  margin-left:5px;
  margin-right:15px;
}
.album_cover {
  border:1px solid #2A2A2A;
}

/* -- Photos ------------------------------- */
#photos {
  margin: 0px;
}
#photos li {
  list-style-type: none;
  border:1px solid #2A2A2A;
  float:left;
  margin-bottom:22px;
  margin-left:5px;
  margin-right:10px;
  padding:3px 3px 3px;
}