/* -- Basic Overrides ------------------------------- */
a {
	color: #2d4c6a;
	text-decoration: none;
	}
a:visited {
  color: #2d4c6a;
  text-decoration:none; 
}
a:active {
	color: #147;
	background: #def;
}
a:hover {
	color: #147;
	background: #def;
}

hr {
  background-color: #3d5c7a;
}

legend {
	font-size: 12px;
}

textarea {
  width:300px;
  height:150px;
}


/* -- Header ------------------------------- */
.container {
  background-color: #e5ecf9;
}

.header {
	color: white;
	background-color: #213242;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}
.header a:link {
  color: #ddd;
  padding:7px;
}
.header a:visited {
  color: #ddd;
  padding:7px;
}
.header a:active {
  color: #fff;
}
.header a:hover {
  color: white;
  background:#3d5c7a;
}

/* -- Navigation ------------------------------- */
.navigation {
  color: white;
  font-weight: bold;
	background-color: #3d5c7a;
	padding-top: 10px;
	padding-bottom: 11px;
}
.navigation a:link {
  color: #ddd;
  padding:12px;
}
.navigation a:visited {
  color: #ddd;
  padding:12px;
}
.navigation a:active {
  color: #fff;
}
.navigation a:hover {
  color: white;
  background:#213242;
}

/* -- Flashes ------------------------------- */
.flash_alert {
  color: #333;  
	background: #fee;
	border: solid 1px #db7;
}

.flash_alert .message {
	padding: 0 0 0 25px;
}

.flash_notice {
	color: #333;  
	background: #efe;
	border: solid 1px #bd7;
}

.flash_notice .message {
	padding: 0 0 0 25px;
}


/* -- Albums ------------------------------- */
#albums {
  margin: 0px;
}

#albums li {
  list-style-type: none;
  float:left;
  margin-bottom:22px;
  margin-left:13px;
  margin-right:13px;
}

.album_cover {
  border:1px solid #2A2A2A;
}

/* -- Photos ------------------------------- */
#photos {
  margin: 0px;
}

#photos li {
  list-style-type: none;
  border:1px solid #2A2A2A;
  float:left;
  margin-bottom:22px;
  margin-left:6px;
  margin-right:5px;
  padding:3px 3px 3px;
}


/* -- SWFUpload ------------------------------- */
fieldset.queue {
  width: 375px;
}

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}

/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(/images/icons/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}
