<p>
  Instructions to activate your account have been sent to your email address <%= @user.email %>.
  <ul>
    <li> 
    	If this email is not correct you must <%= link_to "signup", signup_path %> again and provide the correct email.
    </li> 
    <li>
    	If you do not receive email within few minutes please check your bulk folder or trash folder.
    </li> 
    <li>
    	Some email clients might mistakenly mark the email as spam. If that happens, mark the email as not being spam and add customerservice@albumdy.com to your address book.
    </li>
  </ul>
</p>