<% form_for :user, :url => {:action => 'forgot_password'} do |f| %>
  <p>
    Enter the email address you used during registration and click send. We'll send a password reset link to this email address.
  </p>
  <p>
    <%= f.text_field :email, :class => 'text' %> &nbsp; <%= f.label(:email) %>
  </p>
  <p class="buttons">
    <button type="submit" class="button positive">
      <%= image_tag 'icons/key.png', :alt => '' %> &nbsp;Send &raquo;
    </button>
  </p>
<% end %>