<script>
$(document).ready(function() {
  
  // remove thickbox when a cancel button is clicked within a thickbox window
  // we're keeping this code in here, because the TB_window isn't bound until a thickbox ajax
  // document is loaded
	$('#TB_window p.buttons a#cancel').click(function() {
    return tb_remove();
	});
	
});
</script>
<p class="buttons">
  <button type="submit" class="button positive">
    <%= image_tag 'icons/key.png' %> <%= (controller.action_name == 'new') ? 'Create' : 'Update' %>
  </button>
  <a class="button negative" href="<%= collection_path %>" id="cancel">
    <%= image_tag 'icons/cross.png' %> Cancel
  </a>
</p>