/* Basics */
body {
  background-color: #33332d;
}
h1 {
  color:#cccc9f;
}
h3 {
  color:#db4105;
}
.container {
  background-color: #fff;
}

a, a:visited {
  color: #db4105;
}
a:active, a:hover {
  color: #cccc9f;
	background: #fff8e3;
}
hr {
  background-color: #9fb4cc;
}
fieldset {
  border-color:#9fb4cc;
  color:#cccc9f;
}
.box {
  background:#fff8e3;
}
#header {
  background: #fff8e3;
  border-bottom: 1px #9fb4cc solid;
}

#footer {
  border-top: 1px #9fb4cc solid;
}

/* Thickbox Window */
#TB_window {
	border: 4px solid #cccc9f;
}
#TB_title {
	background-color:#fff8e3;
}

/* Positive Buttons */
body .positive {
  color:#cccc9f;
}
a.positive:hover, button.positive:hover {
  color:#cccc9f;
}
a.positive:active {
  background-color:#cccc9f;
  border:1px solid #cccc9f;
}