#footer
  = "Copyright &copy; 2010, #{@config.site_name}, All Rights Reserved"
  &nbsp; | &nbsp; |
  = enkode_mail(@config.site_email, 'Get in Touch &raquo;')
  %small
    = link_to 'albumdy.org', 'http://albumdy.org', :target => '_blank', :style => 'float:right;'