<h2>Editing Album</h2>

<%= error_messages_for :album %>

<% form_for(:album, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
<% end %>