<h1>Albums</h1>
<hr>
<h2>
  <%= link_to 'Create New Album', new_album_path %>
</h2>

<fieldset>
  <legend>Albums</legend>
  <ul id="albums">
    <%= render :partial => "album", :collection => @albums %>
  </ul>
</fieldset>