<% if logged_in? -%>
  <p>
    <strong><%= link_to 'Add a Photo Album &raquo;', new_object_path %></strong><br />
  </p>
<% end -%>

<%= render :partial => "row", :collection => @collection %>
<p class="clear">
  <%= will_paginate @collection %>
</p>