<h1>New Album</h1>

<%= error_messages_for :album %>

<% form_for(@album)  do |f| -%>
	<%= render :partial => "form", :locals => {:f => f, :action => 'Create'} %>
<% end -%>

<%= link_to 'Back', albums_path %>