<script type="text/javascript">

$(function() {
	
	// binds lightbox to photo clicks
  $('#photos a[@rel*=show]').lightBox();
	
});
</script>
<h1>
  <%= h @album.title %>
</h1>
<hr>
<ul id="photos">
  <%= render :partial => "/photos/photo", :collection => @album.visible_photos %>
</ul>