<script type="text/javascript">

$(function() {
	
	// binds lightbox to photo clicks
  $('#photos a[@rel*=show]').lightBox();
	
});
</script>
<h1>
  Photos
</h1>
<hr>
<ul id="photos">
  <%= render :partial => "photo", :collection => @photos %>
</ul>