<h1>Albums</h1>
<hr>
<a class="button positive thickbox" href="<%= "#{new_manage_album_path}?width=315&height=340" %>" id="cancel">
  <%= image_tag 'icons/key.png' %> Create New Album
</a>
<hr class="space">
<ul id="albums">
  <%= render :partial => "album", :collection => @albums %>
</ul>