<a class="button positive thickbox" href="<%= "#{new_manage_album_path}?width=315&height=340" %>" id="cancel">
  <%= image_tag 'icons/key.png' %> Create New Album
</a>
<hr class="space">
<div class="span-22 first last">
  <ul id="albums">
    <%= render :partial => "album", :collection => @albums %>
  </ul>
</div>
<%= will_paginate @albums %>
<hr class="space">