<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="robots" content="ALL" />
<meta name="revisit-after" content="15 Days" />
<meta name="expires" content="Never" />
<meta name="MSSmartTagsPreventParsing" content="TRUE" />
<meta name="Identifier-URL" content="http://www.albumdy.com " />
<meta name="Home_URL" content="http://www.albumdy.com " />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="Coverage" content="Worldwide" />
<meta name="distribution" content="Global" />
<link href="/favicon.ico" rel="shortcut icon" />
<title>Albumdy - Photo Gallery</title>
<meta name="Keywords" content="album, photo, gallery, ruby, rails, ruby on rails, open source, blueprint, jquery, lightbox, thickbox, resource_controller, attachment_fu, restful_authentication, braid, github" />
<meta name="Description" content="AlBumdy is an open source photo gallery using the following technologies: ruby on rails, blueprint css, jquery, lightbox, thickbox, resource_controller, attachment_fu, restful_authentication, braid, github" />
<link rel="alternate" type="application/rss+xml" title="Newlybred News" href="" />
<%= stylesheet_link_tag 'galleria', 'album' %>
<%= javascript_include_tag 'jquery-1.2.6.min.js', 'jquery.galleria.min.js' %>
</head>
  <body>
    <%= yield -%>
  </body>
</html>
